@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Asap:ital,wght@0,100..900;1,100..900&family=Lilex:ital,wght@0,100..700;1,100..700&family=Martian+Mono:wght@100..800&family=Noto+Sans+Symbols:wght@100..900&family=Outfit:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "react-alice-carousel/lib/alice-carousel.css";
@theme {
    --font-lilex: "Lilex", sans-serif;
    --font-martian-mono: "Martian Mono", monospace;
    --font-tourney: "Tourney", sans-serif;
    --font-archivo: "Archivo", sans-serif;
    --font-asap: "Asap", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-figtree: "Figtree", sans-serif;

    --color-light-orange-1: hsl(35, 79%, 75%);
    --color-light-orange-2: hsl(21, 62%, 64%);
    --color-light-orange-3: hsl(16, 85%, 71%);
    --color-light-yellow-1: hsl(44 79% 76%);
    --color-medium-salmon-1: oklch(0.606 0.149 22.593);
    --color-dark-salmon-1: oklch(0.455 0.14 22.64);
    --color-dark-indigo-1: oklch(0.24 0.1 281.52);
    --color-dark-indigo-2: hsl(237, 78%, 5%);

    --color-white-1: hsla(0, 0%, 100%, 0.17);
    --color-border-green-1: hsl(185, 42%, 57%);
    --color-navbar-light: hsl(21, 59%, 85%);
    --color-no-color: hsla(0, 0%, 100%, 0);
}

.buttonTransition {
    transition:
    font-size, font-weight, background-color 0.3s,
    padding, width 0.1s;
}

.blurTransition {
    transition:
    backdrop-filter 0.8s,
    background-color 0.2s;
}

.linkTransition {
    transition:
    color 0.05s,
    font-weight 0.2s;
}

section {
    margin-bottom: 4rem;
}

.langblockTransition {
    transition:
    border 0.1s,
    width 0.15s,
    height 0.2s
    ;
}

.langblockBg {
    transition: background-color 0.1s;
}

.routeLink {
    transition:
    color 0.2s,
    font-weight 0.3s
    ;
}

.sectionTitle {
    transition:
    font-weight 0.2s;
}

.textColorTransition {
    transition:
    font 0.2s,
    color 0.2s;
}

.sizeTransition {
    transition:
    width 0.1s,
    height 0.1s;
}

.opacityTransition {
    transition:
    opacity 0.2s;
}